@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #FFBEAC;
  box-sizing: border-box;
  border-top: solid 30px #F08080;
  border-bottom: solid 30px #F08080;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: lightcoral;
  color: #ffffff;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Dosis', sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 40px;
  width: 100px;
  line-height: 60px;
}
.Top h3 span {
  background-color: none;
  font-size: 50px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: lightcoral;
  color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  transition: 0.5s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 25px;
}
.namecard span {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E2AFAF;
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
.allbub [class*='bub'] {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 67.7033486055%;
  top: 34.0751016456%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 38.0499297686%;
  top: 9.9892281785%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 92.1146097886%;
  top: 39.2855614772%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 76.7097901432%;
  top: 42.5252486556%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 26.3438533654%;
  top: 65.7366644633%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 52.9687372954%;
  top: -5.3070457883%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 3.941474592%;
  top: 83.8433611631%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 81.0247397057%;
  top: 32.8629680713%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 63.2289623019%;
  top: 43.977799584%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 53.9329091452%;
  top: 4.2059095144%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 12.9489862496%;
  top: 70.6492362958%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 87.2654715086%;
  top: -6.7203396427%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 81.7110234139%;
  top: 66.5134193719%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 24.4125006539%;
  top: 29.1577600923%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 22.2346915095%;
  top: 58.7130537855%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 28.2153684704%;
  top: 26.5745792823%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 45.8590328442%;
  top: 28.1448489783%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 77.5202932651%;
  top: 81.5297456446%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 57.0080390688%;
  top: 13.1210836836%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 61.2637810811%;
  top: 71.7652750558%;
  animation-delay: -2s;
}
.allbub .bub21 {
  position: absolute;
  left: 83.4265518162%;
  top: 37.9620936835%;
  animation-delay: -2.1s;
}
.allbub .bub22 {
  position: absolute;
  left: 62.8760268491%;
  top: 58.9895207372%;
  animation-delay: -2.2s;
}
.allbub .bub23 {
  position: absolute;
  left: 79.0190768305%;
  top: 51.1790133737%;
  animation-delay: -2.3s;
}
.allbub .bub24 {
  position: absolute;
  left: 62.7300072482%;
  top: 68.1429270832%;
  animation-delay: -2.4s;
}
.allbub .bub25 {
  position: absolute;
  left: 56.7208285606%;
  top: 77.6976611755%;
  animation-delay: -2.5s;
}
.allbub .bub26 {
  position: absolute;
  left: 63.0946505473%;
  top: 50.0714432067%;
  animation-delay: -2.6s;
}
.allbub .bub27 {
  position: absolute;
  left: 21.3077979734%;
  top: 59.3563568153%;
  animation-delay: -2.7s;
}
.allbub .bub28 {
  position: absolute;
  left: 21.8060717722%;
  top: 6.909756269%;
  animation-delay: -2.8s;
}
.allbub .bub29 {
  position: absolute;
  left: 42.052635848%;
  top: 84.5276009599%;
  animation-delay: -2.9s;
}
.allbub .bub30 {
  position: absolute;
  left: 79.5383953271%;
  top: 52.2874033954%;
  animation-delay: -3s;
}
.allbub .bub31 {
  position: absolute;
  left: 4.4595871196%;
  top: 20.740571618%;
  animation-delay: -3.1s;
}
.allbub .bub32 {
  position: absolute;
  left: 70.6931137569%;
  top: 50.4776526709%;
  animation-delay: -3.2s;
}
.allbub .bub33 {
  position: absolute;
  left: 61.0654092361%;
  top: 74.7427746908%;
  animation-delay: -3.3s;
}
.allbub .bub34 {
  position: absolute;
  left: 67.1842552588%;
  top: 80.0328138946%;
  animation-delay: -3.4s;
}
.allbub .bub35 {
  position: absolute;
  left: 5.5757328423%;
  top: 55.6536018426%;
  animation-delay: -3.5s;
}
.allbub .bub36 {
  position: absolute;
  left: 62.0371918897%;
  top: 40.9861938754%;
  animation-delay: -3.6s;
}
.allbub .bub37 {
  position: absolute;
  left: 17.2158099277%;
  top: 53.5458476143%;
  animation-delay: -3.7s;
}
.allbub .bub38 {
  position: absolute;
  left: 77.1335781044%;
  top: 45.758110087%;
  animation-delay: -3.8s;
}
.allbub .bub39 {
  position: absolute;
  left: 16.2983900272%;
  top: 28.0524533114%;
  animation-delay: -3.9s;
}
.allbub .bub40 {
  position: absolute;
  left: 93.7049290505%;
  top: 43.0978077091%;
  animation-delay: -4s;
}
.allbub .bub41 {
  position: absolute;
  left: 51.9317282864%;
  top: 37.3896647705%;
  animation-delay: -4.1s;
}
.allbub .bub42 {
  position: absolute;
  left: 73.5737397588%;
  top: 87.889339437%;
  animation-delay: -4.2s;
}
.allbub .bub43 {
  position: absolute;
  left: 67.0468031374%;
  top: -7.782497697%;
  animation-delay: -4.3s;
}
.allbub .bub44 {
  position: absolute;
  left: 57.8799390679%;
  top: 35.4900771532%;
  animation-delay: -4.4s;
}
.allbub .bub45 {
  position: absolute;
  left: 49.2180061281%;
  top: 21.2818450041%;
  animation-delay: -4.5s;
}
.allbub .bub46 {
  position: absolute;
  left: 55.6750829312%;
  top: 27.8751105382%;
  animation-delay: -4.6s;
}
.allbub .bub47 {
  position: absolute;
  left: 61.3644380772%;
  top: 29.5881551168%;
  animation-delay: -4.7s;
}
.allbub .bub48 {
  position: absolute;
  left: 34.8148586916%;
  top: 21.0098487348%;
  animation-delay: -4.8s;
}
.allbub .bub49 {
  position: absolute;
  left: 52.2993166912%;
  top: 46.5369201428%;
  animation-delay: -4.9s;
}
.allbub .bub50 {
  position: absolute;
  left: 11.283278891%;
  top: 86.7595354461%;
  animation-delay: -5s;
}
.allbub .bub51 {
  position: absolute;
  left: 93.4814857785%;
  top: 46.0761759588%;
  animation-delay: -5.1s;
}
.allbub .bub52 {
  position: absolute;
  left: 20.9694176964%;
  top: 18.567031112%;
  animation-delay: -5.2s;
}
.allbub .bub53 {
  position: absolute;
  left: 93.2018803844%;
  top: 2.1289478892%;
  animation-delay: -5.3s;
}
.allbub .bub54 {
  position: absolute;
  left: 67.2884592322%;
  top: 32.6439038353%;
  animation-delay: -5.4s;
}
.allbub .bub55 {
  position: absolute;
  left: 26.1148004824%;
  top: 85.9309075513%;
  animation-delay: -5.5s;
}
.allbub .bub56 {
  position: absolute;
  left: 16.2838128747%;
  top: 0.0707348519%;
  animation-delay: -5.6s;
}
.allbub .bub57 {
  position: absolute;
  left: 99.8262519019%;
  top: 26.8897565679%;
  animation-delay: -5.7s;
}
.allbub .bub58 {
  position: absolute;
  left: 64.3428757315%;
  top: 4.692051815%;
  animation-delay: -5.8s;
}
.allbub .bub59 {
  position: absolute;
  left: 53.4415131624%;
  top: 70.6886212653%;
  animation-delay: -5.9s;
}
.allbub .bub60 {
  position: absolute;
  left: 17.0867453703%;
  top: 37.0640500281%;
  animation-delay: -6s;
}
.allbub .bub61 {
  position: absolute;
  left: 59.6423346831%;
  top: 28.1220396391%;
  animation-delay: -6.1s;
}
.allbub .bub62 {
  position: absolute;
  left: 96.9482028957%;
  top: 11.6989876965%;
  animation-delay: -6.2s;
}
.allbub .bub63 {
  position: absolute;
  left: 97.6955838799%;
  top: -0.1519255303%;
  animation-delay: -6.3s;
}
.allbub .bub64 {
  position: absolute;
  left: 40.8859349677%;
  top: 73.1994654749%;
  animation-delay: -6.4s;
}
.allbub .bub65 {
  position: absolute;
  left: 85.5276986257%;
  top: 59.8208681007%;
  animation-delay: -6.5s;
}
.allbub .bub66 {
  position: absolute;
  left: 2.0033881348%;
  top: 66.6152978871%;
  animation-delay: -6.6s;
}
.allbub .bub67 {
  position: absolute;
  left: 36.0901183758%;
  top: 60.0397982676%;
  animation-delay: -6.7s;
}
.allbub .bub68 {
  position: absolute;
  left: 88.3708534942%;
  top: 43.2576765855%;
  animation-delay: -6.8s;
}
.allbub .bub69 {
  position: absolute;
  left: 47.6777765038%;
  top: 9.2932639877%;
  animation-delay: -6.9s;
}
.allbub .bub70 {
  position: absolute;
  left: 43.207006441%;
  top: 31.0607247645%;
  animation-delay: -7s;
}
.allbub .bub71 {
  position: absolute;
  left: 62.4005082922%;
  top: 85.3926327404%;
  animation-delay: -7.1s;
}
.allbub .bub72 {
  position: absolute;
  left: 84.6719911756%;
  top: 5.9745240812%;
  animation-delay: -7.2s;
}
.allbub .bub73 {
  position: absolute;
  left: 17.8871342336%;
  top: 18.3031124893%;
  animation-delay: -7.3s;
}
.allbub .bub74 {
  position: absolute;
  left: 83.2631099216%;
  top: 42.0525896998%;
  animation-delay: -7.4s;
}
.allbub .bub75 {
  position: absolute;
  left: 37.4335761518%;
  top: 38.2876454148%;
  animation-delay: -7.5s;
}
.allbub .bub76 {
  position: absolute;
  left: 76.9399747933%;
  top: 87.693084715%;
  animation-delay: -7.6s;
}
.allbub .bub77 {
  position: absolute;
  left: 84.2866559098%;
  top: 3.9694830877%;
  animation-delay: -7.7s;
}
.allbub .bub78 {
  position: absolute;
  left: 87.0106648932%;
  top: 2.2764784695%;
  animation-delay: -7.8s;
}
.allbub .bub79 {
  position: absolute;
  left: 32.3767960374%;
  top: -3.3404526972%;
  animation-delay: -7.9s;
}
.allbub .bub80 {
  position: absolute;
  left: 75.0080306716%;
  top: 65.9249090071%;
  animation-delay: -8s;
}
.allbub .bub81 {
  position: absolute;
  left: 82.8869056469%;
  top: 78.9664678747%;
  animation-delay: -8.1s;
}
.allbub .bub82 {
  position: absolute;
  left: 82.0722071486%;
  top: 28.1420264614%;
  animation-delay: -8.2s;
}
.allbub .bub83 {
  position: absolute;
  left: 70.0651877264%;
  top: 60.6300058499%;
  animation-delay: -8.3s;
}
.allbub .bub84 {
  position: absolute;
  left: 28.0306916863%;
  top: 5.4211091472%;
  animation-delay: -8.4s;
}
.allbub .bub85 {
  position: absolute;
  left: 55.8758619251%;
  top: 67.7495802005%;
  animation-delay: -8.5s;
}
.allbub .bub86 {
  position: absolute;
  left: 35.7530234977%;
  top: 38.4102691003%;
  animation-delay: -8.6s;
}
.allbub .bub87 {
  position: absolute;
  left: 59.5227957422%;
  top: 2.0705486917%;
  animation-delay: -8.7s;
}
.allbub .bub88 {
  position: absolute;
  left: 54.6844268352%;
  top: -8.6687174701%;
  animation-delay: -8.8s;
}
.allbub .bub89 {
  position: absolute;
  left: 28.4585319594%;
  top: 3.5310450311%;
  animation-delay: -8.9s;
}
.allbub .bub90 {
  position: absolute;
  left: 35.5021913801%;
  top: 48.1939038209%;
  animation-delay: -9s;
}
.allbub .bub91 {
  position: absolute;
  left: 97.9512343152%;
  top: -0.8897229132%;
  animation-delay: -9.1s;
}
.allbub .bub92 {
  position: absolute;
  left: 10.6538763293%;
  top: 80.9008654213%;
  animation-delay: -9.2s;
}
.allbub .bub93 {
  position: absolute;
  left: 25.016129788%;
  top: 18.3124074221%;
  animation-delay: -9.3s;
}
.allbub .bub94 {
  position: absolute;
  left: 96.6006236167%;
  top: 15.4548858007%;
  animation-delay: -9.4s;
}
.allbub .bub95 {
  position: absolute;
  left: 79.6315776426%;
  top: 12.8610804462%;
  animation-delay: -9.5s;
}
.allbub .bub96 {
  position: absolute;
  left: 94.6461053756%;
  top: 79.6267456242%;
  animation-delay: -9.6s;
}
.allbub .bub97 {
  position: absolute;
  left: 58.6189115796%;
  top: 66.2208462007%;
  animation-delay: -9.7s;
}
.allbub .bub98 {
  position: absolute;
  left: 78.5738333169%;
  top: 8.9900689622%;
  animation-delay: -9.8s;
}
.allbub .bub99 {
  position: absolute;
  left: 23.5601411057%;
  top: 23.9969138578%;
  animation-delay: -9.9s;
}
.allbub .bub100 {
  position: absolute;
  left: 50.0185098195%;
  top: 74.0603944923%;
  animation-delay: -10s;
}
@keyframes back {
  0% {
    background-color: #f6d1d1;
  }
  25% {
    background-color: #f6b9b9;
  }
  50% {
    background-color: #e2afaf;
  }
  75% {
    background-color: #f9d7d7;
  }
  100% {
    background-color: #f6d1d1;
  }
}
.allbub .allbub {
  animation: back 8s infinite;
}
